<div class="container">
  <div class="jumbotron">  
    <div id="<%= viewName %>" class="purewebview" style="width:575px; height:575px; float:left;"></div>        
    <textarea readonly ng-model="AppState" style="height:575px; width:400px;"></textarea>
    <br/><br/>        
    <button  <% if (bootstrap) { %>class="btn btn-default"<%}%> ng-click="generateShareUrl();">Collaborate</button>    
  </div>  
</div>

<% if (bootstrap) { %>
<div id="pureweb_message" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">PureWeb Message</h4>
      </div>
      <div class="modal-body">
        <p>{{message}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<% } %>